build
bin
libs
halfEdgeExample/halfEdgeExample.xcodeproj/project.xcworkspace/xcuserdata/neil.xcuserdatad/UserInterfaceState.xcuserstate
halfEdgeExample/halfEdgeExample.xcodeproj/xcuserdata/neil.xcuserdatad/xcdebugger/
